<div class="page">
  <div class="page__header">
    <div class="name-link">
      <a href="/">Kevin Le</a>
    </div>

    <div class="searchbox">
    <%# <input type="text" value=<%= input %>
    </div>
  </div>

  <div class="tabs">
    <div class="tab-menu">
      <div class="tab-menu__item selected" target="#page1">Accordian</div>
      <div class="tab-menu__item" target="#page2">Graph</div>
    </div>
  
    <div class="tab-content " id="page1">
      <div class="card box-shadow">
        <div class="card-background">
          <div class="searchbar">
            <div class="searchbox">
              
              <input type="text" name="search" value="<% @videos %>" placeholder="Text"/>
            
            </div>
            <button>Reset</button>
            <button>Search</button>
          </div>
          <div class="video-list">
          
            <% @videos.values.last.each do |video| %>
              <% currentVideo = video["snippet"] %>
              <div class="video">
                <div class="video-content" onClick="reveal(event)">
                  <div class="video-top">
                    <span class="carat-down" onClick="revealCarat(event)">
                    <%= image_tag "ChevronDown.svg" %>
                    </span>
                    
                    <div class="video-title">
                      <%= currentVideo["title"].length < 35 ? currentVideo["title"] : currentVideo["title"][0,36].concat("...") %>
                    </div>
                    <div class="video-author">
                      <%= currentVideo["channelTitle"]%>
                    </div>
                    <div class="video-published">
                      <%= currentVideo["publishedAt"].to_date %>
                    </div>
                  </div>

                  <div id="modal" class="video-popup hidden" onClick="reveal(event)">
                    <div class="description-box">
                      <div class="thumbnail">
                        <img src="<%= currentVideo["thumbnails"]["medium"]["url"] %>" alt="">
                      </div>
                      <div class="description">
                        <p>Description</p>
                        <%= currentVideo["description"].split("\n").join("<br>").html_safe %>
                      </div>
                    </div>

                    <div class="description-stats">
                      <div class="view stat">View Count
                        <p><%= video["statistics"]["viewCount"] %></p>
                      </div>
                      <div class="like stat">Like Count
                        <p><%= video["statistics"]["likeCount"] %></p>
                      </div>
                      <div class="tags stat">Tags
                        <p><%= currentVideo["tags"].join(', ') %></p>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            <% end %>
          </div>
        </div>
        <%# <%= @videos %>
      </div>
    </div>
  
    <div class="tab-content hidden" id="page2">
      <div class="card box-shadow">
        page2
      </div>
    </div>
  </div>

  <footer class="page_footer">This is the footer</footer>

</div>
